body {
    margin: 0;
    font-family: "Marck Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

#app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background: url(https://kartinki.pics/uploads/posts/2021-07/thumbs/1626140026_9-kartinkin-com-p-chernoe-derevo-tekstura-besshovnaya-krasiv-9.jpg);
    background-size: cover;
    min-height: 95.9vh;
}

.column {
    display: flex;
    flex-direction: column;
    width: 15%;
    background: rgba(255, 0, 0, 0.5) url(https://zefirka.club/wallpapers/uploads/posts/2023-03/1678717475_zefirka-club-p-skomkannaya-bumaga-na-zelenom-fone-84.jpg);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0px 5px 10px 2px rgba(0, 40, 118, 0.2) inset;
}

.column.first {
    transform: rotate(3.5deg);
    filter: grayscale(80%);
}

.second.column {
    transform: rotate(-3.5deg);
    filter: grayscale(45%) hue-rotate(15deg);
}

.column.third {
    transform: rotate(2.5deg);
    filter: grayscale(45%) hue-rotate(30deg);
}

.column.fourth {
    transform: rotate(3deg);
    filter: grayscale(45%) hue-rotate(-15deg);
}

.column.fifth {
    transform: rotate(-2.5deg);
    filter: hue-rotate(-30deg);
}

.modal {
    display: flex;
    color: darkblue;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: url(https://wallpapers.com/images/featured/note-paper-png-uo14l0ju7ermpmqe.jpg) center center;
    background-size: 155% 170%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    transform: rotate(-2.5deg);
    filter: grayscale(45%) hue-rotate(-90deg);
}
.modal-form {
    mix-blend-mode: multiply;
    border: none;
    transform: rotate(-3deg);
    filter: contrast(100%)hue-rotate(-45deg);
}

.task {
    padding: 10px;
    background: url(https://static.vecteezy.com/system/resources/thumbnails/055/778/547/small_2x/aged-lined-paper-sheet-shows-wrinkles-and-tears-png.png) center center;
    color: darkblue;
    background-size: 150% 150%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.task::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
    border-radius: 50%;
    transform: translateX(-50%);
}

.second .task::before {
    content: '';
    background: url(https://static.vecteezy.com/system/resources/thumbnails/028/824/928/small_2x/yellow-paper-tape-isolated-element-png.png) no-repeat top center;
    background-size: cover;
    width: 115px;
    height: 40px;
    border-radius: 0;
}

.task.urgent  {
    box-shadow: 0 0 4px orangered, 0 0 8px coral, 0 0 12px orange, 0 0 16px darkorange, 0 0 20px coral;

}

.task.overdue   {
    box-shadow: 0 0 4px red, 0 0 8px orangered, 0 0 12px red, 0 0 16px red, 0 0 20px darkred;
}

.column h2 {
    text-align: center;
    color: indianred;
    mix-blend-mode: difference;
    margin-bottom: 15px;
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: #FC0 1px 0 10px;
    transform: rotate(-3.5deg);
}

button {
    mix-blend-mode: multiply;
    background-color: indianred;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Marck Script", serif;
    text-shadow: 1px 1px 2px pink;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: pink;
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}